<div class="row">
  <div class="col-md-12">
    <form #searchForm="ngForm"
          (ngSubmit)="getSearchResults()">

      <div class="form-group">
        <label for="search-query" class="control-label">Search</label>
        <input type="text" id="search-query" name="search" class="form-control"
            ngModel required>
            <button type="submit" class="btn btn-success">GET!</button>
      </div>    
    </form>
    
    <!-- <form #pageForm="ngForm"
          (ngSubmit)="getSearchResultsPage()">

      <div class="form-group">
        <label for="searchpage-query" class="control-label">Go to page: </label>
        <input type="text" id="searchpage-query" name="searchpage" class="form-control"
            ngModel required>
            <button type="submit" class="btn btn-success">GET!</button>
      </div>    
    </form> -->
  </div>
</div>